<strong>Olá, {{deliveryMan}}</strong>
<p>Nova encomenda disponível para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{client}}</strong> <br />
  <strong>pedido: </strong> {{request}} <br />
  <strong>Localidade: {{city}},{{street}},{{number}},{{address_complement}}</strong>
  <br />
  <small>
    Atenciosamente equipe FastFeet
  </small>
</p>